body {
  background-color: black;
}
.index-body {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;

  .wrapper.blur {
    filter: blur(2px);
    animation-name: blur;
    animation-duration: 500ms;
  }

  @keyframes blur {
    0% {
      filter: blur(0);
    }
    100% {
      filter: blur(2px);
    }
  }

  .closePop {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 700px);
    height: 100vh;
  }

  header {
    padding: 50px;
    padding-bottom: 62px;
    display: flex;
    justify-content: space-between;
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  main {
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
  }

  .right_block {
    position: relative;

    img {
      position: absolute;
      bottom: -11px;
      right: -10px;
    }
  }

  .left_block {
    width: 50%;

    h1 {
      font-weight: 500;
      font-size: 35px;
      line-height: 43px;
      letter-spacing: 0.03em;
      margin-bottom: 20px;
    }

    p {
      font-size: 17px;
      line-height: 23px;
      letter-spacing: 0.03em;
      font-weight: 300;
      margin-bottom: 63px;
    }

    .btn {
      height: 44px;
      width: 162px;
      border-radius: 50px;
      border: 1px solid white;
      color: white;
      font-weight: 500;
      font-size: 15px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;

      &:hover {
        border: 1px solid transparent;
        background: linear-gradient(to bottom left, #95C11F 0%, #349A37 100%);
      }
    }
  }

  footer {
    padding: 22px 50px;
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 22px;
      font-weight: 300;
      display: table;

      &:hover {
        background: linear-gradient(225deg, #95C11F 33%, #349A37 77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0B2349;
        display: table;
        font-weight: 300;
      }

      svg {
        margin-right: 10px;
      }
    }
  }

  .pop_up {
    position: absolute;
    top: 0;
    right: -1000px;
    background: linear-gradient(to bottom right, #95C11F 0%, #349A37 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;

    &.active {
      right: 0px;
      animation-name: activePop;
      animation-duration: 500ms;
    }

    &.disactive {
      right: -1000px;
      animation-name: disactivePop;
      animation-duration: 500ms;
    }

    @keyframes activePop {
      0% {
        right: -1000px;
      }
      100% {
        right: 0px;
      }
    }

    @keyframes disactivePop {
      0% {
        right: 0px;
      }
      100% {
        right: -1000px;
      }
    }

    .closes {
      position: absolute;
      top: 52px;
      right: 52px;
      width: 20px;
      height: 20px;
      opacity: 1;
      cursor: pointer;
    }

    form {
      width: 370px;

      input[type='text'], input[type='tel'], input[type='email'] {
        width: 100%;
        margin-bottom: 40px;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        font-size: 15px;
        line-height: 18px;
        color: rgb(255, 255, 255);
        padding-bottom: 5px;
      }

      input[type="text"]::-moz-placeholder,
      input[type="tel"]::-moz-placeholder,
      input[type="email"]::-moz-placeholder {
        color: rgba(255, 255, 255, 0.7); /* Цвет подсказывающего текста */
      }

      input[type="text"]::-webkit-input-placeholder,
      input[type="tel"]::-webkit-input-placeholder,
      input[type="email"]::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
      }

      input[type="text"]:-ms-input-placeholder,
      input[type="tel"]:-ms-input-placeholder,
      input[type="email"]:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
      }

      input[type="text"]::-ms-input-placeholder,
      input[type="tel"]::-ms-input-placeholder,
      input[type="email"]::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
      }

      input[type="text"]::placeholder,
      input[type="tel"]::placeholder,
      input[type="email"]::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }

      input[type="text"].error,
      input[type="tel"].error,
      input[type="email"].error {
        border-bottom: 1px solid rgba(255, 0, 0, 0.5) !important;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 40px;
    }

    input.file_upload {
      display: none;
    }

    .flex {
      display: flex;
      justify-content: space-between;
      opacity: 0.7;
      margin-bottom: 40px;
    }

    .modal-form__file {
      flex-basis: 119px;
      min-width: 119px;
      max-width: 119px;

      label,
      .upload-photo {
        display: flex;
        cursor: pointer;

        svg {
          min-width: 9px;
          min-height: 21px;
          margin-right: 10px;
        }

        p {
          font-size: 15px;
          line-height: 18px;
          font-weight: 400;
        }
      }

      p#filename {
        word-wrap: break-word;
        max-width: 100px;
      }
    }

    .confid.param-checkbox {
      flex-basis: 208px;
      display: flex;
      position: relative;

      p {
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
      }

      .checkbox {
        cursor: pointer;
        position: absolute;
        top: 2px;
        left: 0;
        width: 15px;
        height: 15px;
        opacity: 0;
        z-index: 1;

        &.error + .checkbox-custom {
          border: 1px solid rgba(255, 0, 0, 0.5) !important;
        }
      }

      .checkbox-custom {
        cursor: pointer;
        position: relative;
        width: 15px;
        height: 15px;
        min-width: 15px;
        margin-right: 10px;
        margin-top: 2px;
        border: 1px solid white;
        border-radius: 0;
        display: inline-block;
      }



      .checkbox:checked + .checkbox-custom::before {
        cursor: pointer;
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 1px;
        width: 21px;
        height: 17px;
        background-image: url(../images/checked.svg);
        background-repeat: no-repeat;
        background-size: 21px 17px;
      }
    }

    .btn {
      height: 35px;
      width: 130px;
      border-radius: 50px;
      border: 1px solid white;
      color: white;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      cursor: pointer;

      &:hover {
        color: #64ac2c;
        background-color: white;
      }
    }

  }
}

@media (max-width: 1365px) {
  .index-body {
    header {
      padding: 20px 50px;
    }

    footer {
      padding: 15px 50px;
    }
  }
}

@media (max-width: 1200px) {
  .index-body {
    overflow-y: auto;

    main {
      width: 668px;
      flex-direction: column-reverse;
      margin-top: 0;
    }

    .left_block {
      width: 100%;
      margin-top: 16px;
    }

    footer {
      padding: 36px 50px 26px;
    }

    .right_block img {
      width: 100%!important;
      height: auto!important;
      right: -7px;
    }

    .right_block svg {
      width: 100%!important;
      height: auto!important;
    }

    .pop_up {
      position: fixed;
      top: 0;
      right: -100vw;
      width: 100vw;
    }

    @keyframes activePop {
      0% {
        right: -100vw;
      }
      100% {
        right: 0px;
      }
    }

    @keyframes disactivePop {
      0% {
        right: 0px;
      }
      100% {
        right: -100vw;
      }
    }
  }
}

@media (max-width: 767px) {
  .index-body {
    header {
      padding: 20px;
    }

    main {
      width: 87%;
    }

    .left_block p {
      margin-bottom: 28px;
    }

    footer {
      padding: 36px 20px 26px;
      flex-direction: column-reverse;

      a.phone {
        margin-bottom: 20px;
      }
    }

    .pop_up {
      h2 {
        margin-bottom: 27px;
      }

      .flex {
        flex-direction: column;
        margin-bottom: 29px;
      }

      form {
        width: 225px;
        margin-left: -40px;
      }

      .closes {
        top: 24px;
        right: 22px;
      }

      .modal-form__file {
        flex-basis: auto;
        margin-bottom: 27px;
      }

      .confid.param-checkbox {
        flex-basis: auto;
      }
    }
  }
}
