<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SPA</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="assets/script/vendor.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="assets/style/style.css">
</head>
<body class="body__overflow index-body">
<div class="wrapper">
    {{> index}}
</div>

<div class="closePop" style="display: none"></div>

<div class="pop_up">
    <div class="closes">
        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.93934 15.7886C0.353553 16.3744 0.353553 17.3241 0.93934 17.9099C1.52513 18.4957 2.47487 18.4957 3.06066 17.9099L0.93934 15.7886ZM17.9099 3.06066C18.4957 2.47487 18.4957 1.52513 17.9099 0.93934C17.3241 0.353553 16.3744 0.353553 15.7886 0.93934L17.9099 3.06066ZM16.4957 17.9099C17.0815 18.4957 18.0312 18.4957 18.617 17.9099C19.2028 17.3241 19.2028 16.3744 18.617 15.7886L16.4957 17.9099ZM3.76777 0.939341C3.18198 0.353555 2.23223 0.353555 1.64645 0.939341C1.06066 1.52513 1.06066 2.47488 1.64645 3.06066L3.76777 0.939341ZM3.06066 17.9099L17.9099 3.06066L15.7886 0.93934L0.93934 15.7886L3.06066 17.9099ZM18.617 15.7886L3.76777 0.939341L1.64645 3.06066L16.4957 17.9099L18.617 15.7886Z" fill="white"/>
        </svg>
    </div>
    <form class="modal-form">
        <h2>Оставить заявку</h2>
        <input type="text" class="name" placeholder="Имя">
        <input type="tel" class="tel" placeholder="Телефон">
        <input type="email" class="email" placeholder="E-mail">
        <input type="text" class="message" placeholder="Сообщение">
        <div class="flex">
            <div class="modal-form__file">
                <label id="upload-photo-none">
                    <input class="file_upload" type="file" multiple="" accept="image/*" name="file">
                    <svg width="11" height="23" viewBox="0 0 11 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 17.1538V5.5C10 3.01472 7.98528 1 5.5 1V1C3.01472 1 1 3.01472 1 5.5V18.8235C1 20.5778 2.42215 22 4.17647 22V22C5.93079 22 7.35294 20.5778 7.35294 18.8235V9.57919C7.35294 8.40964 6.40484 7.46154 5.23529 7.46154V7.46154C4.06575 7.46154 3.11765 8.40964 3.11765 9.57919V17.1538" stroke="white"/>
                    </svg>
                    <p>Прикрепить файл</p>
                </label>
                <div class="upload-photo" style="display: none">
                    <svg width="11" height="23" viewBox="0 0 11 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 17.1538V5.5C10 3.01472 7.98528 1 5.5 1V1C3.01472 1 1 3.01472 1 5.5V18.8235C1 20.5778 2.42215 22 4.17647 22V22C5.93079 22 7.35294 20.5778 7.35294 18.8235V9.57919C7.35294 8.40964 6.40484 7.46154 5.23529 7.46154V7.46154C4.06575 7.46154 3.11765 8.40964 3.11765 9.57919V17.1538" stroke="white"/>
                    </svg>
                    <!--<input type="text" id="filename" class="filename" disabled="">-->
                    <p id="filename"></p>
                </div>
            </div>
            <div class="confid param-checkbox">
                <input class="checkbox" type="checkbox" name="checkbox-test">
                <span class="checkbox-custom"></span>
                <p>Согласие на обработку персональных данных</p>
            </div>
        </div>
        <button class="btn">Отправить</button>
    </form>
    <div class="modal-form__complete"></div>
</div>
<script src="assets/script/script.js"></script>
</body>
</html>