<header>
    <a href="/"><img src="assets/images/logo.png"></a>
    <div class="social">
        <a class="be" href="/" target="_blank">
            <svg width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="be6" d="M9.23831 6.34414C9.70429 6.10975 10.0566 5.84868 10.298 5.56657C10.7275 5.05847 10.9394 4.38476 10.9394 3.54963C10.9394 2.73696 10.7275 2.0422 10.3036 1.45971C9.59622 0.5109 8.39897 0.0252643 6.70626 0H0V13.689H6.25291C6.9575 13.689 7.61016 13.6287 8.2137 13.5052C8.81724 13.3802 9.33936 13.1515 9.78149 12.8174C10.1745 12.5269 10.5029 12.1662 10.764 11.7409C11.1766 11.098 11.383 10.3696 11.383 9.55832C11.383 8.77232 11.2019 8.10282 10.8426 7.55262C10.4791 7.00242 9.94571 6.59959 9.23831 6.34414ZM2.76644 2.37765H5.78692C6.45081 2.37765 6.99821 2.44923 7.4277 2.59099C7.92456 2.79732 8.173 3.21699 8.173 3.85701C8.173 4.43108 7.98351 4.8325 7.60876 5.05847C7.2312 5.28445 6.74135 5.39814 6.14062 5.39814H2.76644V2.37765ZM7.54279 11.0728C7.20874 11.2342 6.73855 11.3142 6.13641 11.3142H2.76644V7.6635H6.18273C6.77785 7.66771 7.24102 7.74631 7.57227 7.89369C8.16177 8.16036 8.45511 8.64881 8.45511 9.36322C8.45511 10.2054 8.15194 10.7724 7.54279 11.0728Z" fill="#349A37"/>
                <path class="be1" d="M9.23831 6.34414C9.70429 6.10975 10.0566 5.84868 10.298 5.56657C10.7275 5.05847 10.9394 4.38476 10.9394 3.54963C10.9394 2.73696 10.7275 2.0422 10.3036 1.45971C9.59622 0.5109 8.39897 0.0252643 6.70626 0H0V13.689H6.25291C6.9575 13.689 7.61016 13.6287 8.2137 13.5052C8.81724 13.3802 9.33936 13.1515 9.78149 12.8174C10.1745 12.5269 10.5029 12.1662 10.764 11.7409C11.1766 11.098 11.383 10.3696 11.383 9.55832C11.383 8.77232 11.2019 8.10282 10.8426 7.55262C10.4791 7.00242 9.94571 6.59959 9.23831 6.34414ZM2.76644 2.37765H5.78692C6.45081 2.37765 6.99821 2.44923 7.4277 2.59099C7.92456 2.79732 8.173 3.21699 8.173 3.85701C8.173 4.43108 7.98351 4.8325 7.60876 5.05847C7.2312 5.28445 6.74135 5.39814 6.14062 5.39814H2.76644V2.37765ZM7.54279 11.0728C7.20874 11.2342 6.73855 11.3142 6.13641 11.3142H2.76644V7.6635H6.18273C6.77785 7.66771 7.24102 7.74631 7.57227 7.89369C8.16177 8.16036 8.45511 8.64881 8.45511 9.36322C8.45511 10.2054 8.15194 10.7724 7.54279 11.0728Z" fill="url(#paint0_linear1)"/>
                <path class="be6" d="M20.297 0.638611H14.3501V2.34255H20.297V0.638611Z" fill="#349A37"/>
                <path class="be2" d="M20.297 0.638611H14.3501V2.34255H20.297V0.638611Z" fill="url(#paint1_linear1)"/>
                <path class="be6" d="M22.3631 7.36315C22.2396 6.57014 21.9673 5.87256 21.5434 5.27043C21.0788 4.58829 20.4893 4.08862 19.7721 3.77282C19.0577 3.45561 18.2534 3.29701 17.358 3.29841C15.8547 3.29841 14.6336 3.76861 13.689 4.70198C12.7472 5.63816 12.2756 6.98419 12.2756 8.73865C12.2756 10.6096 12.7964 11.9613 13.8434 12.7908C14.8863 13.6217 16.0905 14.0357 17.4576 14.0357C19.1124 14.0357 20.3995 13.5431 21.3188 12.5606C21.9069 11.9402 22.2396 11.3296 22.3126 10.7303H19.5728C19.4142 11.0265 19.2303 11.2581 19.0198 11.4265C18.638 11.7353 18.1412 11.8897 17.532 11.8897C16.9523 11.8897 16.4611 11.7619 16.0512 11.5079C15.3747 11.1009 15.021 10.3878 14.9761 9.37307H22.4529C22.4642 8.49864 22.4361 7.82633 22.3631 7.36315ZM15.0435 7.62562C15.1417 6.96735 15.3803 6.44522 15.7593 6.05924C16.1383 5.67466 16.6744 5.48096 17.3608 5.47956C17.9938 5.47956 18.5229 5.66062 18.9538 6.02415C19.3791 6.39048 19.6191 6.92243 19.6682 7.62562H15.0435Z" fill="#349A37"/>
                <path class="be3" d="M22.3631 7.36315C22.2396 6.57014 21.9673 5.87256 21.5434 5.27043C21.0788 4.58829 20.4893 4.08862 19.7721 3.77282C19.0577 3.45561 18.2534 3.29701 17.358 3.29841C15.8547 3.29841 14.6336 3.76861 13.689 4.70198C12.7472 5.63816 12.2756 6.98419 12.2756 8.73865C12.2756 10.6096 12.7964 11.9613 13.8434 12.7908C14.8863 13.6217 16.0905 14.0357 17.4576 14.0357C19.1124 14.0357 20.3995 13.5431 21.3188 12.5606C21.9069 11.9402 22.2396 11.3296 22.3126 10.7303H19.5728C19.4142 11.0265 19.2303 11.2581 19.0198 11.4265C18.638 11.7353 18.1412 11.8897 17.532 11.8897C16.9523 11.8897 16.4611 11.7619 16.0512 11.5079C15.3747 11.1009 15.021 10.3878 14.9761 9.37307H22.4529C22.4642 8.49864 22.4361 7.82633 22.3631 7.36315ZM15.0435 7.62562C15.1417 6.96735 15.3803 6.44522 15.7593 6.05924C16.1383 5.67466 16.6744 5.48096 17.3608 5.47956C17.9938 5.47956 18.5229 5.66062 18.9538 6.02415C19.3791 6.39048 19.6191 6.92243 19.6682 7.62562H15.0435Z" fill="url(#paint2_linear1)"/>
                <defs>
                    <style>
                        .be path{
                            fill: white;
                        }

                        .be:hover .be6 {
                            fill: #349A37;
                        }

                        .be:hover .be1 {
                            fill: url(#paint0_linear1);
                        }

                        .be:hover .be2 {
                            fill: url(#paint1_linear1);
                        }

                        .be:hover .be3 {
                            fill: url(#paint2_linear1);
                        }
                    </style>
                    <linearGradient id="paint0_linear1" x1="12.1044" y1="1.81786" x2="3.91451" y2="12.3007" gradientUnits="userSpaceOnUse">
                        <stop offset="0.176511" stop-color="#95C11F"/>
                        <stop offset="0.72501" stop-color="#349A37"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear1" x1="20.674" y1="0.864888" x2="20.2959" y2="2.89582" gradientUnits="userSpaceOnUse">
                        <stop offset="0.176511" stop-color="#95C11F"/>
                        <stop offset="0.72501" stop-color="#349A37"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear1" x1="23.1005" y1="4.72428" x2="16.9262" y2="13.7347" gradientUnits="userSpaceOnUse">
                        <stop offset="0.176511" stop-color="#95C11F"/>
                        <stop offset="0.72501" stop-color="#349A37"/>
                    </linearGradient>
                </defs>
            </svg>
        </a>
        <a class="inst" href="/" target="_blank">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="inst6" d="M11.9797 0H2.05601C0.922422 0 0 0.931291 0 2.07578V12.0949C0 13.2394 0.922422 14.1707 2.05601 14.1707H11.9797C13.1133 14.1707 14.0357 13.2394 14.0357 12.0949V2.07578C14.0357 0.931291 13.1133 0 11.9797 0ZM7.04527 10.7941C5.00457 10.7941 3.34445 9.11798 3.34445 7.05766C3.34445 4.99734 5.00457 3.32125 7.04527 3.32125C9.08597 3.32125 10.7461 4.99734 10.7461 7.05766C10.7461 9.11798 9.08597 10.7941 7.04527 10.7941ZM11.1573 4.15156C10.4771 4.15156 9.92369 3.59283 9.92369 2.9061C9.92369 2.21936 10.4771 1.66063 11.1573 1.66063C11.8375 1.66063 12.3909 2.21936 12.3909 2.9061C12.3909 3.59283 11.8375 4.15156 11.1573 4.15156Z" fill="#349A37"/>
                <path class="inst1" d="M11.9797 0H2.05601C0.922422 0 0 0.931291 0 2.07578V12.0949C0 13.2394 0.922422 14.1707 2.05601 14.1707H11.9797C13.1133 14.1707 14.0357 13.2394 14.0357 12.0949V2.07578C14.0357 0.931291 13.1133 0 11.9797 0ZM7.04527 10.7941C5.00457 10.7941 3.34445 9.11798 3.34445 7.05766C3.34445 4.99734 5.00457 3.32125 7.04527 3.32125C9.08597 3.32125 10.7461 4.99734 10.7461 7.05766C10.7461 9.11798 9.08597 10.7941 7.04527 10.7941ZM11.1573 4.15156C10.4771 4.15156 9.92369 3.59283 9.92369 2.9061C9.92369 2.21936 10.4771 1.66063 11.1573 1.66063C11.8375 1.66063 12.3909 2.21936 12.3909 2.9061C12.3909 3.59283 11.8375 4.15156 11.1573 4.15156Z" fill="url(#paint0_linear2)"/>
                <path class="inst6" d="M7.0854 4.72351C5.78326 4.72351 4.72363 5.78315 4.72363 7.08529C4.72363 8.38743 5.78326 9.44707 7.0854 9.44707C8.38755 9.44707 9.44718 8.38743 9.44718 7.08529C9.44718 5.78315 8.38755 4.72351 7.0854 4.72351Z" fill="#349A37"/>
                <path class="inst2" d="M7.0854 4.72351C5.78326 4.72351 4.72363 5.78315 4.72363 7.08529C4.72363 8.38743 5.78326 9.44707 7.0854 9.44707C8.38755 9.44707 9.44718 8.38743 9.44718 7.08529C9.44718 5.78315 8.38755 4.72351 7.0854 4.72351Z" fill="url(#paint1_linear2)"/>
                <defs>
                    <style>
                        .inst path{
                            fill: white;
                        }

                        .inst:hover .inst6 {
                            fill: #349A37;
                        }

                        .inst:hover .inst1 {
                            fill: url(#paint0_linear2);
                        }

                        .inst:hover .inst2 {
                            fill: url(#paint1_linear2);
                        }
                    </style>
                    <linearGradient id="paint0_linear2" x1="14.9253" y1="1.88182" x2="6.91102" y2="14.1006" gradientUnits="userSpaceOnUse">
                        <stop offset="0.176511" stop-color="#95C11F"/>
                        <stop offset="0.72501" stop-color="#349A37"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear2" x1="9.74656" y1="5.35078" x2="7.0854" y2="9.44707" gradientUnits="userSpaceOnUse">
                        <stop offset="0.176511" stop-color="#95C11F"/>
                        <stop offset="0.72501" stop-color="#349A37"/>
                    </linearGradient>
                </defs>
            </svg>
        </a>
        <a class="fb" href="/" target="_blank">
            <svg width="10" height="19" viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fb6" d="M9.01123 3.2008L7.37784 3.20155C6.09717 3.20155 5.84922 3.83425 5.84922 4.76278V6.81011H8.90357L8.90249 10.0169H5.84922V18.2458H2.66341V10.0169H0V6.81011H2.66341V4.4454C2.66341 1.70088 4.27606 0.20639 6.63111 0.20639L9.01141 0.210327L9.01123 3.2008Z" fill="#349A37"/>
                <path class="fb1" d="M9.01123 3.2008L7.37784 3.20155C6.09717 3.20155 5.84922 3.83425 5.84922 4.76278V6.81011H8.90357L8.90249 10.0169H5.84922V18.2458H2.66341V10.0169H0V6.81011H2.66341V4.4454C2.66341 1.70088 4.27606 0.20639 6.63111 0.20639L9.01141 0.210327L9.01123 3.2008Z" fill="url(#paint0_linear3)"/>
                <defs>
                    <style>
                        .fb path{
                            fill: white;
                        }

                        .fb:hover .fb6 {
                            fill: #349A37;
                        }

                        .fb:hover .fb1 {
                            fill: url(#paint0_linear3);
                        }
                    </style>
                    <linearGradient id="paint0_linear3" x1="9.58255" y1="2.60196" x2="-1.16737" y2="10.868" gradientUnits="userSpaceOnUse">
                        <stop offset="0.176511" stop-color="#95C11F"/>
                        <stop offset="0.72501" stop-color="#349A37"/>
                    </linearGradient>
                </defs>
            </svg>
        </a>
    </div>
</header>
<main>
    <div class="left_block">
        <h1>Создаём современные <br> цифровые продукты</h1>
        <p>Мы хотим оставаться лучшими и поэтому не перестаём работать над собой! Скоро мы представим вам наш новый сайт, а пока вы можете написать нам</p>
        <div class="btn">Написать нам</div>
    </div>
    <div class="right_block">
        <svg width="426" height="426" viewBox="0 0 426 426" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="213" cy="213" r="213" fill="#349A37"/>
            <path d="M0,213a213,213 0 1,0 426,0a213,213 0 1,0 -426,0" fill="url(#paint0_linear)"/>
            <defs>
                <linearGradient id="paint0_linear" x1="453" y1="56.5714" x2="213" y2="426" gradientUnits="userSpaceOnUse">
                    <stop offset="0.176511" stop-color="#95C11F"/>
                    <stop offset="0.72501" stop-color="#349A37"/>
                </linearGradient>
            </defs>
        </svg>
        <img src="assets/images/Intersect.png">
    </div>
</main>
<footer>
    <a href="" class="email">
        <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="em1" d="M20.832 0.683346L12.475 6.99999L20.8224 13.335C20.9317 13.1434 21 12.9237 21 12.6875V1.31245C21 1.08321 20.9361 0.871445 20.832 0.683346Z" fill="url(#paint0_linear)"/>
            <path class="em2" d="M19.6869 0H1.31222C1.14509 0 0.98587 0.0341251 0.83797 0.0918753L9.66482 6.76466C10.1627 7.14442 10.8329 7.14528 11.3325 6.76552L20.162 0.0918753C20.0141 0.0350274 19.8549 0 19.6869 0Z" fill="url(#paint1_linear)"/>
            <path class="em3" d="M0.167997 0.682471C0.0647625 0.87061 0 1.08324 0 1.31247V12.6875C0 12.9238 0.0673874 13.1425 0.177635 13.3341L8.52498 7.00001L0.167997 0.682471Z" fill="url(#paint2_linear)"/>
            <path class="em4" d="M11.7394 7.54161C11.3605 7.79361 10.9309 7.92749 10.4996 7.92749C10.0682 7.92749 9.63944 7.79447 9.25883 7.54161L0.858977 13.9151C1.00159 13.9668 1.15297 14 1.31223 14H19.6869C19.8462 14 19.9966 13.9676 20.1375 13.9151L11.7394 7.54161Z" fill="url(#paint3_linear)"/>
            <defs>
                <style>
                    .email path{
                        fill: white;
                    }

                    .email:hover .em1 {
                        fill: url(#paint0_linear5);
                    }

                    .email:hover .em2 {
                        fill: url(#paint1_linear5);
                    }

                    .email:hover .em3 {
                        fill: url(#paint2_linear5);
                    }

                    .email:hover .em4 {
                        fill: url(#paint3_linear5);
                    }
                </style>
                <linearGradient id="paint0_linear5" x1="22.331" y1="1.85915" x2="16.0346" y2="16.397" gradientUnits="userSpaceOnUse">
                    <stop offset="0.176511" stop-color="#95C11F"/>
                    <stop offset="0.72501" stop-color="#349A37"/>
                </linearGradient>
                <linearGradient id="paint1_linear5" x1="22.331" y1="1.85915" x2="16.0346" y2="16.397" gradientUnits="userSpaceOnUse">
                    <stop offset="0.176511" stop-color="#95C11F"/>
                    <stop offset="0.72501" stop-color="#349A37"/>
                </linearGradient>
                <linearGradient id="paint2_linear5" x1="22.331" y1="1.85915" x2="16.0346" y2="16.397" gradientUnits="userSpaceOnUse">
                    <stop offset="0.176511" stop-color="#95C11F"/>
                    <stop offset="0.72501" stop-color="#349A37"/>
                </linearGradient>
                <linearGradient id="paint3_linear5" x1="22.331" y1="1.85915" x2="16.0346" y2="16.397" gradientUnits="userSpaceOnUse">
                    <stop offset="0.176511" stop-color="#95C11F"/>
                    <stop offset="0.72501" stop-color="#349A37"/>
                </linearGradient>
            </defs>
        </svg>
        info@octobit.ru</a>
    <a href="" class="phone">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path class="ph1" d="M12.1642 10.5843C11.6415 10.0683 10.9889 10.0683 10.4695 10.5843C10.0733 10.9772 9.6771 11.3701 9.28756 11.7696C9.18102 11.8795 9.09112 11.9028 8.96127 11.8295C8.70491 11.6897 8.43189 11.5765 8.18551 11.4233C7.03685 10.7009 6.07464 9.77194 5.2223 8.72649C4.79946 8.2071 4.42324 7.65108 4.16021 7.02515C4.10694 6.89863 4.11693 6.81539 4.22014 6.71218C4.61634 6.32929 5.00256 5.93642 5.39211 5.54354C5.9348 4.99751 5.93481 4.35826 5.38878 3.8089C5.07914 3.49593 4.7695 3.18962 4.45986 2.87665C4.14023 2.55703 3.82394 2.23407 3.50098 1.91777C2.97826 1.40837 2.32568 1.40837 1.80629 1.9211C1.40676 2.31398 1.02387 2.71684 0.617677 3.10306C0.241449 3.45931 0.0516707 3.89546 0.0117173 4.40487C-0.0515422 5.2339 0.151554 6.01632 0.437887 6.77877C1.02387 8.35693 1.91616 9.75862 2.99823 11.0438C4.45986 12.7818 6.20449 14.1568 8.24544 15.149C9.16437 15.5951 10.1166 15.9381 11.1521 15.9947C11.8646 16.0346 12.4838 15.8548 12.9799 15.2988C13.3195 14.9193 13.7024 14.573 14.062 14.2101C14.5947 13.6707 14.598 13.0182 14.0686 12.4854C13.4361 11.8495 12.8001 11.2169 12.1642 10.5843Z" fill="url(#paint0_linear)"/>
                <path class="ph2" d="M11.5283 7.93077L12.7569 7.72101C12.5638 6.59233 12.0311 5.57019 11.222 4.7578C10.3663 3.90213 9.28426 3.36276 8.09232 3.19629L7.91919 4.43151C8.84145 4.56136 9.68047 4.97754 10.343 5.6401C10.969 6.26604 11.3785 7.05845 11.5283 7.93077Z" fill="url(#paint1_linear)"/>
                <path class="ph3" d="M13.4495 2.59031C12.0311 1.17197 10.2366 0.276344 8.25553 0L8.0824 1.23523C9.79373 1.47495 11.3453 2.25071 12.5705 3.47262C13.7325 4.63459 14.4949 6.10288 14.7713 7.71766L15.9998 7.50791C15.6769 5.63676 14.7946 3.93874 13.4495 2.59031Z" fill="url(#paint2_linear)"/>
            </g>
            <defs>
                <style>
                    .phone path{
                        fill: white;
                    }

                    .phone:hover .ph1 {
                        fill: url(#paint0_linear6);
                    }

                    .phone:hover .ph2 {
                        fill: url(#paint1_linear6);
                    }

                    .phone:hover .ph3 {
                        fill: url(#paint2_linear6);
                    }
                </style>
                <linearGradient id="paint0_linear6" x1="15.3803" y1="3.45689" x2="7.23155" y2="15.9998" gradientUnits="userSpaceOnUse">
                    <stop offset="0.176511" stop-color="#95C11F"/>
                    <stop offset="0.72501" stop-color="#349A37"/>
                </linearGradient>
                <linearGradient id="paint1_linear6" x1="13.0635" y1="3.82501" x2="10.42" y2="7.98286" gradientUnits="userSpaceOnUse">
                    <stop offset="0.176511" stop-color="#95C11F"/>
                    <stop offset="0.72501" stop-color="#349A37"/>
                </linearGradient>
                <linearGradient id="paint2_linear6" x1="16.5016" y1="1.02488" x2="12.1997" y2="7.81812" gradientUnits="userSpaceOnUse">
                    <stop offset="0.176511" stop-color="#95C11F"/>
                    <stop offset="0.72501" stop-color="#349A37"/>
                </linearGradient>
                <clipPath id="clip0">
                    <rect width="16" height="16" fill="white"/>
                </clipPath>
            </defs>
        </svg>
        +7 (495) 118-36-05</a>
</footer>